@media only screen and (max-width: 1000px) {
.main_main_img{
    width: 100vw;
    height: 300px;
}

.main_main_img>h1{
    font-size: 25px;
}
.main_main_img>p{
    font-size: 10px;
}

  /* results */
  .results_part{
    width: 100%;
  }
  .results_part>h1{
    font-size: 18px;
  }
  .results_part>div{
    display: flex;
    flex-wrap: wrap;
  }
  /* comforts part */
  .main_comforts{
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .main_comforts>h1{
    font-size: 18px;
  }
  /* courses */
  .main_courses{
    width: 100vw;
  }
  .main_courses>h1{
    font-size: 18px;
  }
  .main_courses>div{
    background-image: linear-gradient(orange,blue, orange);
  }

  /* contact */
  .main_contact{
    width: 100vw;
  }
  .main_contact>form{
    width: 100vw;
  }
  /* courses-videos part */
  .courses_main_lsn{
    flex-direction: column;
  }
  .courses_heading{
    font-size: 20px;
  }
  .CEO_responsive, .data_responsive,.data_responsive>div,.CEO_responsive>div{
    width: 90vw;
    margin: 0;
    padding: 10px;
    font-size: 15px;
    margin: 20px 0;
  }
  .data_item{
    width: 90%;
    margin: auto;
    margin-top:5px ;
  }
  .data_item>h1{
    font-size: 18px !important;

  }
  /* .data_responsive{
    
  } */
  }




  @media only screen and (max-width: 400px) {
    .main_main_img{
        width: 100vw;
        height: 300px;
    }
    .main_main_img>h1{
        font-size: 18px;
    }
    .main_main_img>p{
        font-size: 8px;
    }
    
      /* results */
      .results_part{
        width: 100%;
      }
      .results_part>h1{
        font-size: 12px;
      }
      .results_part>div{
        display: flex;
        flex-wrap: wrap;
      }
      /* comforts part */
      .main_comforts{
        width: 100%;
        padding: 0;
        margin: 0;
      }
      .main_comforts>h1{
        font-size: 12px;
      }
      /* courses */
      .main_courses{
        width: 100vw;
      }
      .main_courses>h1{
        font-size: 12px;
      }
      .main_courses>div{
        background-image: linear-gradient(orange,blue, orange);
      }
    
      /* contact */
      .main_contact{
        width: 100vw;
      }
      .main_contact>form{
        width: 100vw;
      }
      /* courses */
      .courses_main_lsn{
        flex-direction: column;
      }
      .courses_heading{
        font-size: 18px;
      }

    }
      
    /* courses */


