.header_links{
    font-size: 15px;
    background-image:linear-gradient(orange, rgb(6, 6, 6));
    padding: 10px; 
    border-radius:5px;
}
@media only screen and (max-width: 1000px) {
    header{
        padding: 5px;
        margin: 0;
        display: flex;
        width: 100%;
    }
    
    .header_nav{
        display: none;
        font-size: 8px;
    }
    #header_buttons{
        width: fit-content;
        display: flex;
        gap: 15px;
        flex-direction: column;
    }
    .nav_wrapper{
        width: 60%;
    }
    .header_links{
        font-size: 12px;
    }
    #header_buttons{
        display: flex;
        flex-direction: column;
    }
    #header_buttons>button{
        font-size: 12px; 
        margin: 2px;
    }
    .card{
        width: 120px;
        height: 120px;
    }
    .card>h1{
        font-size: 18px;
    }
    .card>img{
        width: 40px;
    }
    /* comfort items */
    .comfort_item{
        padding: 10px;
        margin: 0;
        width: 400px !important;
        height: fit-content;
        background-image:linear-gradient(rgb(99, 65, 3),rgb(235, 159, 18));
        margin-bottom: 10px;
    }
    .comfort_item>h1{
        font-size: 18px;
        background-image:linear-gradient(rgb(235, 159, 18),rgb(99, 65, 3));
        border-radius:10px;
        color:white;
    }
    /* Class */
    .main_class_item{
        width: 80vw;
        background-image: linear-gradient(pink,orange);
        color:black;
    }
    .main_class_item>h1{
        font-size: 18px;
    }
    /* footer */
    footer{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        padding:20px 0;
        gap: 15px;
    }
    footer>div,nav{
        width: 80%;
    }
    footer>div>p{
        width: 90%;
    }

    footer{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        padding:10px 0;
        gap: 10px;
    }
    footer>div,nav{
        width: 80%;
    }
    footer>div>p{
        width: 90%;
    }
  }


@media only screen and (max-width: 600px) { 
    £header_buttons{
        width: fit-content;
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
}

  @media only screen and (max-width: 400px) {
    header{
        padding: 3px;
        margin: 0;
        display: flex;
        width: 100%;
    }
    .header_buttons{
        display: none !important;
        background-color: green;
    }
    
    .header_nav{
        display: none;
    }
    
    .card{
        width: 100px;
        height: 100px;
    }
    .card>h1{
        font-size:12px;
    }
    .card>img{
        width: 35px;
    }
     /* comfort items */
    .comfort_item{
        padding: 7px;
        margin: 0;
        width: 350px !important;
        height: fit-content;
        background-image:linear-gradient(rgb(99, 65, 3),rgb(235, 159, 18));
        margin-bottom: 8px;
    }
    .comfort_item>h1{
        font-size: 12px;
        background-image:linear-gradient(rgb(235, 159, 18),rgb(99, 65, 3));
        border-radius:8px;
        color:white;
    } 
    /* Class */
    .main_class_item{
        width: 80vw;
        background-image: linear-gradient(pink,orange);
        color:black;
    }
    .main_class_item>h1{
        font-size: 12px;
    } 
    /* courses_item-card component */
     .card_item_course{
        display: flex;
        width: 80vw;
        font-size: 18px;

    }
    .card_item_course>h1{
        font-size: 15px;
        width: 60%;
    }
    .course_card_description{
        font-size: 15px;
        width: 90%;
    }
    #header_buttons>button{
        display: none !important;
    }

    
  } 